### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [49]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

tulip = ("<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+")

for each in tulip:
    print(each)

<10
10-14
15-19
20-24
25-29
30-34
35-39
40+

## Player Count

* Display the total number of players

In [50]:
#count = sum(purchase_data["SN"].value_counts())
count = purchase_data["SN"].value_counts()

#count3 = (purchase_data["SN"].value_counts()).nunique
#count4 = count(purchase_data["SN"].value_counts())
#count = purchase_data["SN"].nunique
total_users = pd.DataFrame(count)
#total = sum(count)
#print (count)
#print (sum)

#players = purchase_data["SN"].unique()
#players
#count = (players)
#count = players().value.count

#count_df
total_rows = total_users.shape[0]
print(total_rows)
#total_rows = total_users.count()
print("total players")
print(total_rows)



PlayerCount_df = pd.DataFrame({"Total Players": total_rows}, index=[0])

print(PlayerCount_df)

576
total players
576
   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
purchase_data.head()
#Item_ID_df = purchase_data["Item ID"].value.count()
drop_item_df = purchase_data.drop_duplicates(subset = ["Item ID"])
drop_item_df.head()



#print(uitems)
#print("this is the number of uitems")
#unique_items = drop_df["Items ID"].count()
#total = unique_items.count()
#print(unique_items)

#uitems_count = (len(unique_items))
#print(uitems_count)
#print("this is unique items count- which is wrong")
#print(Count(Unique_items))

#drop_df.describe() count is correct
#drop_df = drop_df.set_index(["Item ID"])
#              drop_df = drop_df.sort_values(by = ["Item ID"])
#               drop_df


unique_items = drop_item_df.shape[0]
print(unique_items)

total_rev = purchase_data["Price"].sum()
print (total_rev)

total_purch = purchase_data["Purchase ID"].count()
print (total_purch)

avg_price  = purchase_data["Price"].mean()
print(avg_price)
#drop_df = drop_df.sort_values(by = ["Item ID"])
#drop_df.head
purchase_data.head()



PurchasingAnalysis_df = pd.DataFrame({"Number of Unique Items": unique_items,
                                      "Averge Price": avg_price,
                                      "Number of Purchases": total_purch,
                                      "Total Revenue": total_rev},index=[0])

PurchasingAnalysis_df.set_index
print(PurchasingAnalysis_df)

179
2379.77
780
3.050987179487176
   Number of Unique Items  Averge Price  Number of Purchases  Total Revenue
0                     179      3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [52]:
#males = purchd
#males  = (purchase_data["Gender"] == "Male")
#males = len(purchase_data["Gender"] == "Male")
#males = (purchase_data["Gender"] == "Male").sum()
#males = (purchase_data["Gender"]).value_counts().male
#males = (purchase_data.["Gender"]=="Male").counts()

drop_name_df = purchase_data.drop_duplicates(subset = ["SN"])

males = (drop_name_df["Gender"].value_counts().Male)


print (males)

females = (drop_name_df["Gender"].value_counts().Female)

print (females)

others = len(drop_name_df.loc[drop_name_df["Gender"] == "Other / Non-Disclosed",:])


print (others)

test = (drop_name_df["Gender"].value_counts(normalize=True))

test


new = purchase_data.loc[purchase_data["Gender"]=="Male",:].sum()


new

percentmales = (males/(males+females+others))*100
print(percentmales)
print("this is percent males")


percentfemales = (females/(males+females+others))*100
print(percentfemales)
print("this is percent females")

percentothers = (females/(males+females+others))*100
print(percentothers)
print("this is percent others")

total_players = (females+males+others)
print(total_players)
print("this is the number of total players")


GenderDemo_df = pd.DataFrame({"Total Count":[males, females, others],
                                      "Percentage of Players":[percentmales, percentfemales, percentothers]},
                                      index =["Male", "Female", "Other/Non-Disclosed"])
                              #"Male", "Female", "Other/Non-Disclosed"])

print(GenderDemo_df)

484
81
11
84.02777777777779
this is percent males
14.0625
this is percent females
14.0625
this is percent others
576
this is the number of total players
                     Total Count  Percentage of Players
Male                         484              84.027778
Female                        81              14.062500
Other/Non-Disclosed           11              14.062500


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
#reset index using gender


#drop_name_df.set_index("Gender")
#drop_name_df

male_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]


malepc = male_df.shape[0]
print(malepc)
print("this is male purchase count")

maleapp = male_df["Price"].mean()
print(maleapp)
print("this is male avg purchase price")

maletpv = male_df["Price"].sum()
print(maletpv)
print("this is male total purchase value")

maleatppp = maletpv/males
print(maleatppp)
print("this is male average total purchase per person")


female_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]


femalepc = female_df.shape[0]
print(femalepc)
print("this is female purchase count")

femaleapp = female_df["Price"].mean()
print(femaleapp)
print("this is female avg purchase price")

femaletpv = female_df["Price"].sum()
print(femaletpv)
print("this is female total purchase value")

femaleatppp = femaletpv/females
print(femaleatppp)
print("this is female average total purchase per person")



other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]


otherpc = other_df.shape[0]
print(otherpc)
print("this is other purchase count")

otherapp = other_df["Price"].mean()
print(otherapp)
print("this is other avg purchase price")

othertpv = other_df["Price"].sum()
print(othertpv)
print("this is other total purchase value")

otheratppp = othertpv/others
print(otheratppp)
print("this is other average total purchase per person")









PurchAnalysisGender_df = pd.DataFrame({"Purchase Count":[femalepc, malepc, otherpc],
                                      "Average Purchase Price":[femaleapp, maleapp, otherapp],
                                       "Total Purchase Value":[femaletpv, maletpv, othertpv],
                                       "Avg Total Purchase per Person":[femaleatppp, maleatppp, otheratppp]},
                                       index =["Female", "Male", "Other/Non-Disclosed"])
                              #"Male", "Female", "Other/Non-Disclosed"])



print(PurchAnalysisGender_df)

652
this is male purchase count
3.0178527607361953
this is male avg purchase price
1967.64
this is male total purchase value
4.065371900826446
this is male average total purchase per person
113
this is female purchase count
3.203008849557519
this is female avg purchase price
361.94
this is female total purchase value
4.468395061728395
this is female average total purchase per person
15
this is other purchase count
3.3460000000000005
this is other avg purchase price
50.19
this is other total purchase value
4.5627272727272725
this is other average total purchase per person
                     Purchase Count  Average Purchase Price  \
Female                          113                3.203009
Male                            652                3.017853
Other/Non-Disclosed              15                3.346000

                     Total Purchase Value  Avg Total Purchase per Person
Female                             361.94                       4.468395
Male                              1967.64                       4.065372
Other/Non-Disclosed                 50.19                       4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
# use drop_name_df

#create bins

bins_names = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

bins = [0,9.9,14,19,24,29,34,39,122]

drop_name_df['Agegroups'] = pd.cut(drop_name_df['Age'],bins, labels = bins_names, include_lowest = True)

drop_name_df.head(30)

#for every in bins_name
 #       count9 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "<10",:])
  #      count9perc = (count9/total_players)*100



#test = s.iloc[]

#test = bins_names.iloc[0]

#series
#count9 = purchase_data[purchase_data["Agegroups"] == "<10"].count()

#count9 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "<10",:])
#print (count9)
#print ("this is the count for <10")
#count9perc = (count9/total_players)*100
#count9perc = count9perc.map("{:.2f}")

#print (count9perc)
#print ("this is the percent count for <10")


count9 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "<10",:])
#print (count9)
#print ("this is the count for count9")
count9perc = (count9/total_players)*100
#print (count9perc)
#print ("this is the percent count for count9")

count14 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "10-14",:])
#print (count14)
#print ("this is the count for count14")
count14perc = (count14/total_players)*100
#print (count14perc)
#print ("this is the percent count for count14")

count19 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "15-19",:])
#print (count19)
#print ("this is the count for count19")
count19perc = (count19/total_players)*100
#print (count19perc)
#print ("this is the percent count for count19")

count24 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "20-24",:])
#print (count24)
#print ("this is the count for count24")
count24perc = (count24/total_players)*100
#print (count24perc)
#print ("this is the percent count for count24")

count29 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "25-29",:])
#print (count29)
#print ("this is the count for count29")
count29perc = (count29/total_players)*100
#print (count29perc)
#print ("this is the percent count for count29")

count34 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "30-34",:])
#print (count34)
#print ("this is the count for count34")
count34perc = (count34/total_players)*100
#print (count34perc)
#print ("this is the percent count for count34")

count39 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "35-39",:])
#print (count39)
#print ("this is the count for count39")
count39perc = (count39/total_players)*100
#print (count39perc)
#print ("this is the percent count for count39")

count40 = len(drop_name_df.loc[drop_name_df["Agegroups"] == "40+",:])
#print (count40)
#print ("this is the count for count40")
count40perc = (count40/total_players)*100
#print (count40perc)
#print ("this is the percent count for count40")


test_df = pd.DataFrame({"Age Ranges":bins_names,
                        "Purchase Count":[count9,count14,count19,count24,count29,count34,count39,count40],
                         "Percentage of Players":[count9perc,count14perc,count19perc,count24perc,count29perc,count34perc,count39perc,count40perc]
                       })    
#test_df = pd.options["Percentage of Players"] = '{:2f}%'
#'{0:2f}%'.format(test_df["Percentage of Players"]
#test_df.style.format({"Percentage of Players":"[:.6f]%"})

#test_df["Percentage of Players"] = float(test_df["Percentage of Players"]).map("{:.2f}%")
test_df = test_df.set_index("Age Ranges")

test_df.head()

#'{0:2f}%'.format(test_df["Percentage of Players"]


#test_df = pd.DataFrame({"Purchase Count": purchcount,
#                         "Item Price": (purchtotal/purchcount),
#                         "Total Purchase Value":purchtotal})

#tulip = ("<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+")

#for each in tulip:
      #print(each)
    #count = len(drop_name_df.loc[drop_name_df["Agegroups"] == "each",:])
 #   print (count)
  #  print ("this is the count for count40")
  #  countperc = (count/total_players)*100
  #  print (countperc)
  #  print ("this is the percent count for count40")

C:\Users\Buddy\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

            Purchase Count  Percentage of Players
Age Ranges
<10                     17               2.951389
10-14                   22               3.819444
15-19                  107              18.576389
20-24                  258              44.791667
25-29                   77              13.368056

In [55]:
tulip = ("<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+")


for each in tulip:
    print(each)
    count = len(drop_name_df.loc[drop_name_df["Agegroups"] == each,:])
    print (count)
    print ("this is the count for count")
    countperc = (count/total_players)*100
    print (countperc)
    print ("this is the percent count for count40")

<10
17
this is the count for count
2.951388888888889
this is the percent count for count40
10-14
22
this is the count for count
3.8194444444444446
this is the percent count for count40
15-19
107
this is the count for count
18.57638888888889
this is the percent count for count40
20-24
258
this is the count for count
44.79166666666667
this is the percent count for count40
25-29
77
this is the count for count
13.368055555555555
this is the percent count for count40
30-34
52
this is the count for count
9.027777777777777
this is the percent count for count40
35-39
31
this is the count for count
5.381944444444445
this is the percent count for count40
40+
12
this is the count for count
2.083333333333333
this is the percent count for count40

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
#
#
# use purchase_data

#create bins

bins_names = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

bins = [0,9.9,14,19,24,29,34,39,122]

purchase_data['Agegroups'] = pd.cut(purchase_data['Age'],bins, labels = bins_names, include_lowest = True)

purchase_data.head(30)





count9_df = purchase_data.loc[purchase_data["Agegroups"] == "<10",:]

count9pc = count9_df.shape[0]
print(count9pc)
print("this is count9 purchase count")

count9app = count9_df["Price"].mean()
print(count9app)
print("this is count9 avg purchase price")

count9tpv = count9_df["Price"].sum()
print(count9tpv)
print("this is count9 total purchase value")

count9atppp = count9tpv/count9
print(count9atppp)
print("this is count9 average total purchase per person")

23
this is count9 purchase count
3.353478260869565
this is count9 avg purchase price
77.13
this is count9 total purchase value
4.537058823529412
this is count9 average total purchase per person

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
ts_df = purchase_data.groupby(['SN'])

purchtotal = ts_df["Price"].sum()

#purchcount = ts_df.sort_values(by=axis-1)
#print(purchtotal)

#print(len(purchtotal))
#print("this is the len of purchcount")

purchcount = ts_df["Purchase ID"].count()
print(purchcount)
print("this is the # of purch count")

#print(ts_df.head(10))
#print(ts_df.describe)


#new_ts_df = pd.DataFrame({"Purchase Count": purchcount,
 #                           "Average Purchase Price": (purchtotal/purchcount)
  #                           "Total Purchase Value":  purchtotal})

new_ts_df = pd.DataFrame({"Purchase Count": purchcount,
                         "Average Purchase Price":(purchtotal/purchcount),
                         "Total Purchase Value":purchtotal})

new_ts_df = new_ts_df.sort_values(by=["Total Purchase Value"],ascending=False)

new_ts_df["Average Purchase Price"] = new_ts_df["Average Purchase Price"].map("${:.2f}".format)

new_ts_df["Total Purchase Value"] = new_ts_df["Total Purchase Value"].map("${:.2f}".format)





purchase_data.head()
new_ts_df.head()

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64
this is the # of purch count

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [61]:
mpi_groupby = purchase_data.groupby(['Item ID', "Item Name"])

purchtotal = mpi_groupby["Price"].sum()

#print(purchtotal)

#itemprice = mpi_groupby["Price"].value()

#print(itemprice)
#print("this is the itemprice")

purchcount = mpi_groupby["Purchase ID"].count()
print(purchcount)
print("this is the # of purch count")

#print(ts_df.head(10))
#print(ts_df.describe)


mpi_df = pd.DataFrame({"Purchase Count": purchcount,
                         "Item Price": (purchtotal/purchcount),
                         "Total Purchase Value":purchtotal})

mpi_df_final = mpi_df

mpi_df_final = mpi_df_final.sort_values(by=["Purchase Count"],ascending=False)

mpi_df_final["Item Price"] = mpi_df_final["Item Price"].map("${:.2f}".format)

mpi_df_final["Total Purchase Value"] = mpi_df_final["Total Purchase Value"].map("${:.2f}".format)



mpi_df_final.head()

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Purchase ID, Length: 179, dtype: int64
this is the # of purch count

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [64]:
#mpi_groupby = purchase_data.groupby(['Item ID', "Item Name"])

#purchtotal = mpi_groupby["Price"].sum()

#print(purchtotal)

#itemprice = mpi_groupby["Price"].value()

#print(itemprice)
#print("this is the itemprice")

#purchcount = mpi_groupby["Purchase ID"].count()
#print(purchcount)
#print("this is the # of purch count")

#print(ts_df.head(10))
#print(ts_df.describe)


#mpi_df = pd.DataFrame({"Purchase Count": purchcount,
#                         "Item Price": (purchtotal/purchcount),
 #                        "Total Purchase Value":purchtotal})
    
    
    



    

#mpri_df_final = mpi_df.sort_values(by=["Total Purchase Value"],ascending=False)

#mpri_df_final["Item Price"] = mpri_df_final["Item Price"].map("${:.2f}".format)

#mpri_df_final["Total Purchase Value"] = mpri_df_final["Total Purchase Value"].map("${:.2f}".format)  
    

mpri_df_final = mpi_df

mpri_df_final = mpri_df_final.sort_values(by=["Total Purchase Value"],ascending=False)
    
mpri_df_final["Item Price"] = mpri_df_final["Item Price"].map("${:.2f}".format)

mpri_df_final["Total Purchase Value"] = mpri_df_final["Total Purchase Value"].map("${:.2f}".format)

    
    
mpri_df_final.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80